{% extends 'admin/admin_base.html.twig' %}

{% block title %}Creer une catégorie{% endblock %}

{% block body %}
    <h1>Creer une catégorie</h1>

    {{ form_start(form) }}
        <div class="d-flex">
            {{ form_row(form.name) }}
        </div>
    {{ form_end(form) }}
{% endblock %}
