{% extends 'base.html.twig' %}

{% block title %}Toutes les Recettes{% endblock %}

{% block body %}
    <ul>
        <li>
            <a href="{{ url('app_recipe_show', {id: 32, slug: 'pate-bolognaise'}) }}">Pâte bolognaise</a>
        </li>
    </ul>
{% endblock %}
