{% extends 'base.html.twig' %}

{% block title %}Toutes les Recettes{% endblock %}

{% block body %}
    {% for recipe in recipes %}
        <ul>
            <li>
                <a href="{{ url('app_recipe_show', {id: recipe.id, slug: recipe.slug}) }}">{{ recipe.title }}</a>
            </li>
        </ul>
    {% endfor %}
{% endblock %}
